.kalam-regular {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .kalam-bold {
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
  }

body {
    font-family: 'Kalam', sans-serif;
    font-size: large;
}

/*.btn-outline-success {--bs-btn-hover-color: #070707;}



a:hover, a{
text-decoration: none;
color: inherit;
}

body {
    background-color: #00b359;
}

p{
    font-size: 20px;
    text-align: justify;
}

.back-to-top {
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10%;
    opacity: .7;
    right: 0.6rem; 
    bottom: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    line-height: 1.2rem;
    color: black;
    background: #fff;
    flex-direction: column;
    overflow: visible;
    }

    div{
        margin-bottom: 1rem;
    }
    .navbar-toggler {
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        transition: box-shadow .15s ease-in-out;
    }

    .navbar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

    #top{
        background-color: #00b359;
    }
    */

