.kalam-regular {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
}

.kalam-bold {
    font-family: "Kalam-bold", cursive;
    font-weight: 700;
    font-style: normal;
}

body, footer {
    font-family: 'Kalam', sans-serif;
    font-size: large;
    background-color: #00b359;
}

a:hover, a{
    text-decoration: none;
    color: inherit;
    } 

.span_link {
    color: #00b359;
    font-weight: bold;
}

.back-to-top {
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10%;
    opacity: .7;
    right: 0.6rem;
    bottom: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    line-height: 1.2rem;
    color: black;
    background: #fff;
    flex-direction: column;
    overflow: visible;
}

 .btn-outline-success {--bs-btn-hover-color: #070707;}

p {
    font-size: 1.3rem;
    text-align: justify;
}

div {
    margin-bottom: 1rem;
} 

.nav-item{
    margin-top: 18px;
}

.responsive {
    width: 100%;
    height: auto;
  }

.card-title{
    font-family: "Kalam";
    font-weight: bold;
    text-align: center;
    border-radius: 50px 20px;
    background-color: #00b359;
    padding: 1rem;
    
}

.card-text{
    text-align: center;
}

li{
    list-style-type: none;
}

#plantsearch {
    list-style-type: none;
    padding: 0;
    margin: 10px;
    color: #c4ecd8;

  }
#plantsearch a:hover{
    text-decoration: none;
    color: #070707;
}

  #plantsearch li a ul {
    border: 1px solid #ddd;
    margin-top: -1px; 
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
  }

#plantsearch li a:hover:not(.header) a:hover:not(.plantsearch) {
    background-color: #c4ecd8;
}

.hivlink a:hover:not(.plantsearch) {
    text-decoration: none;
    font-weight: bold; 
    color: #00b359;
}

.felsorol li{
    list-style-type: "\🌿"; 
}